@font-face {
    font-family: 'Wisdom Script';
    src: url('./fonts/wisdom_script_aj-webfont.woff2') format('woff2'),
         url('./fonts/wisdom_script_aj-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('./fonts/droidserif-italic-webfont.woff2') format('woff2'),
         url('./fonts/droidserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('./fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('./fonts/robotoslab-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary-black: #222;
    --color-secondary-black: #777;
    --color-orange: #d1a505;
    --font-family-droidserif: 'DroidSerif', sans-serif;
    --font-family-robotoslab: 'RobotoSlab', sans-serif;
    --bg-color-gray: #f7f7f7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 50px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    font-family: 'Wisdom script', sans-serif;
    font-size: 26px;
    color: #fed136;
}

.nav {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 14px;
}

.nav__link {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    transition: color .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #919191;
}

/* intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background-image: url('./img/intro-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    z-index: 1;
}

.intro__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__suptitle {
    font-family: 'DroidSerif', sans-serif;
    font-size: 40px;
}

.intro__title {
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 700;
}

.intro__btn {
    position: absolute;
    top: 130%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    background-color: #fed136;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: background .2s linear;
}

.intro__btn:hover {
    background-color: var(--color-orange);
}

/* section */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section__header {
    text-align: center;
    margin-bottom: 75px;
}

.section__title {
    font-size: 40px;
    color: var(--color-primary-black);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section__text {
    font-family: var(--font-family-droidserif);
    font-size: 16px;
    color: var(--color-secondary-black);
}

.services,
.portfolio,
.amazing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.services__icon {
    margin-bottom: 25px;
    display: block;
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-text {
    font-family: var(--font-family-robotoslab);
    font-size: 14px;
    color: var(--color-secondary-black);
    line-height: 1.6;
}

.section--gray {
    background-color: var(--bg-color-gray);
}

/* portfolio */
.portfolio__item {
    width: 290px;
    margin-bottom: 50px;
}

.portfolio__item:not(:first-child) {
    margin-bottom: 0;
  }

.portfolio__inner {
    background-color: #fff;
}

img {
    max-width: 100%;
}

.portfolio__info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.portfolio__info .section-title {
    margin-bottom: 0;
    color: #333;
}

.portfolio__info .section-text {
    font-family: var(--font-family-droidserif);
    color: #737373;
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__item {
    display: flex;
    margin-bottom: 90px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 561px;
}

.about__content {
    padding-left: 30px;
}

.about__content:nth-child(2),
.about__content:nth-child(4) {
    padding-left: 0;
    padding-right: 30px;
}

.about__item--right {
    justify-content: flex-end;
}

.section-title span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.about__content:nth-child(1) .section-title,
.about__content:nth-child(3) .section-title {
    text-align: right;
}

.about__content:nth-child(1) .section-text,
.about__content:nth-child(3) .section-text {
    text-align: right;
}

.about__content .section-text {
    width: 305px;
}

.about__img {
    border-radius: 50%;
    border: 7px solid #f1f1f1;
}

.about__img-wrapper {
    position: relative;
}

.about__img-wrapper::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #f1f1f1;
    top: 98%;
    left: 50%;
    z-index: 10;
}

.about__item--button {
    display: inline-block;
    padding: 30px;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    color: #fff;
    background-color: #fed136;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background .2s linear;
}

.our__story--btn {
    text-align: center;
}

.about__item--button:hover {
    background-color: #c99f08;
}

/* amazing */
.amazing {
    margin-bottom: 50px;
}

.amazing__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amazing__img {
    border-radius: 50%;
    margin-bottom: 25px;
}

.amazing__item .section-title {
    margin-bottom: 0;
}

.amazing__item .section-text {
    margin-bottom: 12px;
}

.amazing__social {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.amazing__item:last-child .amazing__social {
    justify-content: center;
}

.amazing__item:last-child .social__item:first-child {
    margin-right: 10px;
}

.social__item {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #222;
    background-color: #f9f9f9;
    padding: 8px;
    font-weight: 700;
    border: 3px solid #222;
    border-radius: 50%;
    transition: background .1s linear, color .1s linear;
}

.fab {
    font-size: 20px;
}

.social__item:hover {
    color: #f9f9f9;
    background-color: #222;
}

.amazing__text {
    font-family: var(--font-family-robotoslab);
    font-size: 16px;
    text-align: center;
    color: var(--color-secondary-black);
}

/* logos */
.section--logos {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logos-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* contact */
.section--black {
    background-color: #000;
    background-image: url(./img/contact_map-img.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 140px;
    padding-top: 110px;
    padding-bottom: 115px;
}

.section--black .section__title {
    color: #fff;
}

.subscribe-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe-form__left {
    display: flex;
    flex-direction: column;
}

.subscribe-form__left,
.subscribe-form__right,
.subscribe-form__name,
.subscribe-form__email {
    margin-bottom: 30px;
}

.subscribe-form__name,
.subscribe-form__email,
.subscribe-form__subject,
.subscribe-form__message {
    width: 455px;
    font-family: 'Montserrat', serif;
    padding: 20px;
    border: 3px solid transparent;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
}

.subscribe-form__name:focus,
.subscribe-form__email:focus,
.subscribe-form__subject:focus,
.subscribe-form__message:focus {
    border-color: #fed136;
}

.subscribe-form input::placeholder,
.subscribe-form textarea::placeholder {
    text-transform: uppercase;
    color: #bbb;
}

.subscribe-form__message {
    height: 255px;
    resize: vertical;
}

.form-btn {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border: none;
    padding: 20px 50px;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #fed136;
    border-radius: 3px;
    cursor: pointer;
    transition: background .2s linear;
}

.form-btn:hover {
    background-color: var(--color-orange);
}